<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='loginstyle.css') }}>
</head>
<body>

<h2>Login Form</h2>

<form action="/login_process" method="post">
  <div class="imgcontainer">
    <img src={{ url_for('static', filename="images/img_avatar2.png")}} alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>


    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    {% if try_again == True: %}
      <span style="color: red">Login Failed - Try Again!<br /></span>
    {% endif %}
    {% if registered_success == True: %}
      <span style="color: green">Successfully registered! Try loging in.<br /></span>
    {% endif %}
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <a href="{{ url_for('signup_page') }}"><button type="button" class="cancelbtn">Want to sign up? Click here!</button></a>
  </div>
</form>

</body>
</html>